@charset "UTF-8";
@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?2772452");
  src: url("../font/fontello.eot?2772452#iefix") format("embedded-opentype"), url("../font/fontello.woff2?2772452") format("woff2"), url("../font/fontello.woff?2772452") format("woff"), url("../font/fontello.ttf?2772452") format("truetype"), url("../font/fontello.svg?2772452#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?2772452#fontello') format('svg');
  }
}
*/
/* line 23, _fontello.scss */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

/* line 58, _fontello.scss */
.icon-menu:before {
  content: '\e800';
}

/* '' */
/* line 59, _fontello.scss */
.icon-cancel:before {
  content: '\e801';
}

/* '' */
/* line 1, _sideNav.scss */
.side-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  /**
   * sideNav animations
   * */
}
/* line 10, _sideNav.scss */
.side-nav:before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  z-index: 1;
  -webkit-transition: opacity 0.3s cubic-bezier(0, 0, 0.3, 1);
  -o-transition: opacity 0.3s cubic-bezier(0, 0, 0.3, 1);
  transition: opacity 0.3s cubic-bezier(0, 0, 0.3, 1);
}
/* line 26, _sideNav.scss */
.side-nav__container {
  position: absolute;
  width: 90%;
  height: 100%;
  max-width: 400px;
  background-color: #fffce8;
  z-index: 2;
  -webkit-transition: transform 0.3s cubic-bezier(0, 0, 0.3, 1);
  -o-transition: transform 0.3s cubic-bezier(0, 0, 0.3, 1);
  transition: transform 0.3s cubic-bezier(0, 0, 0.3, 1);
  -webkit-transform: translate3d(-102%, 0, 0);
  -ms-transform: translate3d(-102%, 0, 0);
  -o-transform: translate3d(-102%, 0, 0);
  transform: translate3d(-102%, 0, 0);
}
/* line 44, _sideNav.scss */
.side-nav__nav-items {
  width: 100%;
  height: 70%;
  background-color: transparent;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
/* line 54, _sideNav.scss */
.side-nav__nav-items li {
  width: 100%;
  list-style-type: none;
  cursor: pointer;
  -webkit-transition: background-color 0.13s ease-out;
  -o-transition: background-color 0.13s ease-out;
  transition: background-color 0.13s ease-out;
}
/* line 63, _sideNav.scss */
.side-nav__nav-items li a {
  display: block;
  width: 100%;
  height: 60px;
  padding: 0 20px;
  text-decoration: none;
  color: #000;
  line-height: 60px;
}
/* line 73, _sideNav.scss */
.side-nav__nav-items li:hover {
  background-color: #efffdf;
}
/* line 79, _sideNav.scss */
.side-nav__header {
  width: 100%;
  height: 30%;
  background-color: #4ba031;
}
/* line 84, _sideNav.scss */
.side-nav__header__cross {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 19px;
  left: 17px;
  padding: 0;
  text-align: center;
  line-height: 20px;
  font-size: 18px;
  color: #fffce8;
  cursor: pointer;
  outline: transparent;
  border: none;
  background-color: transparent;
}
/* line 101, _sideNav.scss */
.side-nav__header:before {
  content: "";
  background: url("../images/ball_icon.png") no-repeat;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0.06;
  background-size: 100%;
  background-position: 100% -70%;
}
/* line 117, _sideNav.scss */
.side-nav.visible {
  transform: none;
  pointer-events: auto;
}
/* line 121, _sideNav.scss */
.side-nav.visible:before {
  opacity: 1;
}
/* line 126, _sideNav.scss */
.side-nav.visible .side-nav__container {
  transform: none;
}
/* line 130, _sideNav.scss */
.side-nav.animatable {
  -webkit-transition: transform 0.33s cubic-bezier(0, 0, 0.3, 1);
  -o-transition: transform 0.33s cubic-bezier(0, 0, 0.3, 1);
  transition: transform 0.33s cubic-bezier(0, 0, 0.3, 1);
}
/* line 136, _sideNav.scss */
.side-nav.animatable .side-nav__container {
  -webkit-transition: transform 0.13s cubic-bezier(0, 0, 0.3, 1);
  -o-transition: transform 0.13s cubic-bezier(0, 0, 0.3, 1);
  transition: transform 0.33s cubic-bezier(0, 0, 0.3, 1);
}

/* line 1, _login.scss */
.login-anchor {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  perspective: 500px;
}
/* line 10, _login.scss */
.login-anchor .login-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 5;
  perspective: 500px;
  background: transparent;
}
/* line 23, _login.scss */
.login-anchor .login-wrapper__left-section, .login-anchor .login-wrapper__right-section {
  width: 30%;
  height: 100%;
  background-color: #3e363f;
}
/* line 30, _login.scss */
.login-anchor .login-wrapper__middle-section {
  width: 40%;
  height: 100%;
}
/* line 33, _login.scss */
.login-anchor .login-wrapper__middle-section__not-box {
  width: 100%;
  height: 30%;
  background-color: #3e363f;
}
/* line 38, _login.scss */
.login-anchor .login-wrapper__middle-section__login-box {
  width: 100%;
  height: 40%;
  display: block;
  background-color: #4ba031;
  transform-origin: 0% 0%;
}
/* line 46, _login.scss */
.login-anchor .login-wrapper__middle-section__login-box-shadow {
  width: 100%;
  height: 40%;
  position: absolute;
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
  top: 3px;
  left: 3px;
}

/* line 5, _cube.scss */
.cube-view {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  perspective: 1500px;
  cursor: pointer;
}
/* line 14, _cube.scss */
.cube-view__cube {
  display: flex;
  position: relative;
  width: 150px;
  height: 150px;
  transform-style: preserve-3d;
  transform-origin: 50% 50% -75px;
  transform: rotate3d(1, 1, 1, 45deg);
  -webkit-transition: transform 0.33s ease-out;
  -o-transition: transform 0.33s ease-out;
  transition: transform 0.33s ease-out;
}
/* line 27, _cube.scss */
.cube-view__cube__cube-face {
  width: 100%;
  height: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: rebeccapurple;
  position: absolute;
  backface-visibility: hidden;
  border: 2px solid #000;
}
/* line 38, _cube.scss */
.cube-view__cube__cube-face:nth-of-type(2) {
  -webkit-transform: translate3d(0, 0, -150px) rotate3d(0, 1, 0, 180deg);
  -ms-transform: translate3d(0, 0, -150px) rotate3d(0, 1, 0, 180deg);
  -o-transform: translate3d(0, 0, -150px) rotate3d(0, 1, 0, 180deg);
  transform: translate3d(0, 0, -150px) rotate3d(0, 1, 0, 180deg);
}
/* line 46, _cube.scss */
.cube-view__cube__cube-face:nth-of-type(3) {
  -webkit-transform: translateZ(-75px) rotate3d(0, 1, 0, -90deg);
  -ms-transform: translateZ(-75px) rotate3d(0, 1, 0, -90deg);
  -o-transform: translateZ(-75px) rotate3d(0, 1, 0, -90deg);
  transform: translateZ(-75px) rotate3d(0, 1, 0, -90deg);
  top: 0;
  left: -50%;
}
/* line 56, _cube.scss */
.cube-view__cube__cube-face:nth-of-type(4) {
  -webkit-transform: translateZ(-75px) rotate3d(0, 1, 0, 90deg);
  -ms-transform: translateZ(-75px) rotate3d(0, 1, 0, 90deg);
  -o-transform: translateZ(-75px) rotate3d(0, 1, 0, 90deg);
  transform: translateZ(-75px) rotate3d(0, 1, 0, 90deg);
  top: 0;
  left: 50%;
}
/* line 66, _cube.scss */
.cube-view__cube__cube-face:nth-of-type(5) {
  -webkit-transform: translate3d(0, 0, -75px) rotate3d(1, 0, 0, 90deg);
  -ms-transform: translate3d(0, 0, -75px) rotate3d(1, 0, 0, 90deg);
  -o-transform: translate3d(0, 0, -75px) rotate3d(1, 0, 0, 90deg);
  transform: translate3d(0, 0, -75px) rotate3d(1, 0, 0, 90deg);
  top: -50%;
  left: 0;
}
/* line 77, _cube.scss */
.cube-view__cube__cube-face:nth-of-type(6) {
  -webkit-transform: translate3d(0, 0, -75px) rotate3d(1, 0, 0, -90deg);
  -ms-transform: translate3d(0, 0, -75px) rotate3d(1, 0, 0, -90deg);
  -o-transform: translate3d(0, 0, -75px) rotate3d(1, 0, 0, -90deg);
  transform: translate3d(0, 0, -75px) rotate3d(1, 0, 0, -90deg);
  top: 50%;
  left: 0;
}
/* line 89, _cube.scss */
.cube-view__transparency {
  position: absolute;
  width: 1px;
  height: 1px;
  background-color: transparent;
}

/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
* 1. Change the default font family in all browsers (opinionated).
* 2. Correct the line height in all browsers.
* 3. Prevent adjustments of font size after orientation changes in
*    IE on Windows Phone and in iOS.
*/
/* Document
========================================================================== */
/* line 19, main.scss */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}

/* Sections
========================================================================== */
/**
* Remove the margin in all browsers (opinionated).
*/
/* line 33, main.scss */
body {
  margin: 0;
}

/**
* Add the correct display in IE 9-.
*/
/* line 41, main.scss */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
* Correct the font size and margin on `h1` elements within `section` and
* `article` contexts in Chrome, Firefox, and Safari.
*/
/* line 55, main.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
========================================================================== */
/**
* Add the correct display in IE 9-.
* 1. Add the correct display in IE.
*/
/* line 68, main.scss */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
* Add the correct margin in IE 8.
*/
/* line 78, main.scss */
figure {
  margin: 1em 40px;
}

/**
* 1. Add the correct box sizing in Firefox.
* 2. Show the overflow in Edge and IE.
*/
/* line 87, main.scss */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
/* line 98, main.scss */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
========================================================================== */
/**
* 1. Remove the gray background on active links in IE 10.
* 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
*/
/* line 111, main.scss */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
* Remove the outline on focused links when they are also active or hovered
* in all browsers (opinionated).
*/
/* line 121, main.scss */
a:active,
a:hover {
  outline-width: 0;
}

/**
* 1. Remove the bottom border in Firefox 39-.
* 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
*/
/* line 131, main.scss */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
* Prevent the duplicate application of `bolder` by the next rule in Safari 6.
*/
/* line 141, main.scss */
b,
strong {
  font-weight: inherit;
}

/**
* Add the correct font weight in Chrome, Edge, and Safari.
*/
/* line 150, main.scss */
b,
strong {
  font-weight: bolder;
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
/* line 160, main.scss */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
* Add the correct font style in Android 4.3-.
*/
/* line 171, main.scss */
dfn {
  font-style: italic;
}

/**
* Add the correct background and color in IE 9-.
*/
/* line 179, main.scss */
mark {
  background-color: #ff0;
  color: #000;
}

/**
* Add the correct font size in all browsers.
*/
/* line 188, main.scss */
small {
  font-size: 80%;
}

/**
* Prevent `sub` and `sup` elements from affecting the line height in
* all browsers.
*/
/* line 197, main.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 205, main.scss */
sub {
  bottom: -0.25em;
}

/* line 209, main.scss */
sup {
  top: -0.5em;
}

/* Embedded content
========================================================================== */
/**
* Add the correct display in IE 9-.
*/
/* line 220, main.scss */
audio,
video {
  display: inline-block;
}

/**
* Add the correct display in iOS 4-7.
*/
/* line 229, main.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
* Remove the border on images inside links in IE 10-.
*/
/* line 238, main.scss */
img {
  border-style: none;
}

/**
* Hide the overflow in IE.
*/
/* line 246, main.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
========================================================================== */
/**
* 1. Change the font styles in all browsers (opinionated).
* 2. Remove the margin in Firefox and Safari.
*/
/* line 258, main.scss */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
* Show the overflow in IE.
* 1. Show the overflow in Edge.
*/
/* line 274, main.scss */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
* Remove the inheritance of text transform in Edge, Firefox, and IE.
* 1. Remove the inheritance of text transform in Firefox.
*/
/* line 284, main.scss */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
* 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
*    controls in Android 4.
* 2. Correct the inability to style clickable types in iOS and Safari.
*/
/* line 295, main.scss */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
* Remove the inner border and padding in Firefox.
*/
/* line 306, main.scss */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
* Restore the focus styles unset by the previous rule.
*/
/* line 318, main.scss */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
* Change the border, margin, and padding in all browsers (opinionated).
*/
/* line 329, main.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
* 1. Correct the text wrapping in Edge and IE.
* 2. Correct the color inheritance from `fieldset` elements in IE.
* 3. Remove the padding so developers are not caught out when they zero out
*    `fieldset` elements in all browsers.
*/
/* line 342, main.scss */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
* 1. Add the correct display in IE 9-.
* 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
*/
/* line 356, main.scss */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
* Remove the default vertical scrollbar in IE.
*/
/* line 365, main.scss */
textarea {
  overflow: auto;
}

/**
* 1. Add the correct box sizing in IE 10-.
* 2. Remove the padding in IE 10-.
*/
/* line 374, main.scss */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
* Correct the cursor style of increment and decrement buttons in Chrome.
*/
/* line 384, main.scss */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
* 1. Correct the odd appearance in Chrome and Safari.
* 2. Correct the outline style in Safari.
*/
/* line 394, main.scss */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
* Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
*/
/* line 403, main.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
* 1. Correct the inability to style clickable types in iOS and Safari.
* 2. Change font properties to `inherit` in Safari.
*/
/* line 413, main.scss */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
========================================================================== */
/*
* Add the correct display in IE 9-.
* 1. Add the correct display in Edge, IE, and Firefox.
*/
/* line 426, main.scss */
details,
menu {
  display: block;
}

/*
* Add the correct display in all browsers.
*/
/* line 435, main.scss */
summary {
  display: list-item;
}

/* Scripting
========================================================================== */
/**
* Add the correct display in IE 9-.
*/
/* line 446, main.scss */
canvas {
  display: inline-block;
}

/**
* Add the correct display in IE.
*/
/* line 454, main.scss */
template {
  display: none;
}

/* Hidden
========================================================================== */
/**
* Add the correct display in IE 10-.
*/
/* line 465, main.scss */
* {
  box-sizing: border-box;
}

/* line 469, main.scss */
[hidden] {
  display: none;
}

/* line 473, main.scss */
body, html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* line 479, main.scss */
body {
  background-color: #fffce8;
}

/* line 483, main.scss */
.body-anchor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

/* line 492, main.scss */
.header {
  width: 100%;
  height: 60px;
  background-color: #3e363f;
}
/* line 497, main.scss */
.header__side-click {
  height: 100%;
  width: 60px;
  color: #fffce8;
  font-size: 20px;
  background-color: transparent;
  outline: transparent;
  border: none;
  cursor: pointer;
}

/* line 509, main.scss */
.app-content {
  display: flex;
  width: 100%;
  height: calc(100% - 60px);
}
