<polygon-cube draggable="true" class="cube-view">
    <div id="polygon-cube" class="cube-view__cube">
        <div class="cube-view__cube__cube-face"></div>
        <div class="cube-view__cube__cube-face"></div>
        <div class="cube-view__cube__cube-face">
            <p>{{testsomemore}}</p>
        </div>
        <div class="cube-view__cube__cube-face"></div>
        <div class="cube-view__cube__cube-face"></div>
        <div class="cube-view__cube__cube-face">
            {{test1}}
        </div>
    </div>
    <aside id="cube-transparency" class="cube-view__transparency"></aside>
</polygon-cube>
