<login-view id="login-view" class="login-wrapper">
    <div class="login-wrapper__left-section"></div>
    <div class="login-wrapper__middle-section">
        <div id="top-middle-login" class="login-wrapper__middle-section__not-box"></div>
        <section class="login-wrapper__middle-section__login-box"></section>
        <div class="login-wrapper__middle-section__login-box-shadow"></div>
        <div id="bot-middle-login" class="login-wrapper__middle-section__not-box"></div>
    </div>
    <div class="login-wrapper__right-section"></div>
</login-view>
