<side-nav id="side-nav" class="side-nav animatable">
    <div class="side-nav__container">
        <div id="side-nav_header" class="side-nav__header">
            <button id="side-nav-close-icon" class="side-nav__header__cross icon-cancel"></button>
        </div>
        <ul class="side-nav__nav-items">
            <li><a href="">Main</a></li>
            <li><a id="cube-route" href="" onclick="return false;">Cube</a></li><!-- no route and an id until a router is done -->
        </ul>
    </div>
</side-nav>
